.hero {
  margin: 0;   /* remove all outer space */
  padding: 0;
  background: linear-gradient(to right, #de830c, #5b86e5);
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  color: rgb(205, 212, 16);
  font-family: cursive;
  text-align: center;

  margin-top: 0;  /* remove extra space */

  animation: slideUp 1s ease-out infinite alternate;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.tagline {
  font-size: x-large;
  font-weight: 500;  
  color: brown;
}


